{{!-- <div class="post-card"> --}}
{{#if feature_image}}

<div class="split right {{post_class}}">
    <a href="{{url}}">
        <img src="{{img_url feature_image size="l"}}">
    </a>
    <div class="authoredate"> {{authors limit="1"}} {{date published_at format="MMMM YYYY"}}</div>
</div>

<div class="split left {{post_class}}" onclick="window.location = '{{url}}'">
    <div class="left-a">
        <div class="title">
            {{title}}
        </div>
        <div class="postcc">
            {{content}}
        </div>
    </div>
</div>
{{else}}
<div class="split right" style="width: 0vh">
</div>
<div class="split left {{post_class}}" onclick="window.location = '{{url}}'">
    <div class="left-a">
        <div class="title">
            {{title}}
        </div>
        <div class="postcc">
            {{content}}
        </div>
    </div>
</div>

{{/if}}
{{!-- </div> --}}