<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>

<body class="{{body_class}}">


    <main id="site-main" class="site-main">
        <div id="swup" class="transition-fade">

            {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
            {{{body}}}

        </div>
    </main>

    {{!-- The footer at the very bottom of the screen --}}
 

    {{!-- The big email subscribe modal content --}}
    {{#if @labs.subscribers}}
    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-overlay-close" href="#"></a>
        <div class="subscribe-overlay-content">
            {{#if @site.logo}}
            <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
            {{/if}}
            <h1 class="subscribe-overlay-title">Subscribe to {{@site.title}}</h1>
            <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered
                straight to your inbox</p>
            {{subscribe_form placeholder="youremail@example.com"}}
        </div>
    </div>
    {{/if}}

    <script src="{{asset "built/swup.js"}}" data-swup-ignore-script></script>
    <script src="{{asset "built/infinitescroll.js"}}" data-swup-ignore-script></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
        </script>

    <div id="swup">
        {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
        {{{block "scripts"}}}

        {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
        {{ghost_foot}}
    </div>

    {{!-- Handle swup content replacement --}}
    <script data-swup-ignore-script>
        // Initiate Swup transitions
        var swup = new Swup({
            plugins: [new SwupHeadPlugin(), new SwupScriptsPlugin()],
        });

function fancierClasses() {
            Array.prototype.random = function () {
                return this[Math.floor((Math.random() * this.length))];
            }
            var randomArray = ["bluish", "greenish", "darkish", "blackish", "pinkish", "grasish","grayish"];
            var randomElement = randomArray.random();
            $("article:first").addClass(randomElement);
            $("article>header>h1:first").addClass(randomElement);
        }

            fancierClasses();
        document.addEventListener('swup:contentReplaced', event => {
            initInfiniteScroll(window, document);
            $('body').removeClass('site-head-open');
            fancierClasses();
        });
    </script>
    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "96%";
            document.getElementById("myNav").style.right = "2%";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
            document.getElementById("myNav").style.right = "-20%";
        }
    </script>
    <div id="myNav" class="overlay" onclick="closeNav()">
        {{navigation}}
        <div class="foot">
            <div class="social-links">
                {{#if @site.facebook}}
                <a href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">Facebook</a>
                {{/if}}
                {{#if @site.twitter}}
                <a href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">Twitter</a>
                {{/if}}
                <a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank"
                    rel="noopener">RSS</a>
            </div>
        </div>
    </div>

    <div class="menuButton" onclick="openNav()"> {{#if @site.logo}}
        <img src="{{@site.logo}}" alt="{{@site.title}}" />
        {{else}}
        {{@site.title}}&#9776;
        {{/if}}
    </div>

</body>

</html>