{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{#is "home"}}
  
   <div class="header-leiste"
   {{#if @site.cover_image}}
style="background: url('{{@site.cover_image}}'); background-size: cover; min-height: 15vh;" {{/if}}>
       

{{#if @site.description}}     
  <div class="descdesc">{{@site.description}}</div>
   {{/if}}

   </div>


{{/is}}

<div class="post-feed">
    {{#foreach posts}}

        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> "post-card"}}

    {{/foreach}}
</div>

