{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#tag}}
<header class="page-head">
<div class="header-leiste">
    <img src="{{#if feature_image}}{{feature_image}}{{/if}}">
    <h1 class="page-head-title">{{name}}</h1>
    <p class="page-head-description">
        {{#if description}}
            {{description}}
        {{else}}
            A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
        {{/if}}
    </p>
    </div>
</header>
{{/tag}}

<div class="post-feed">
{{#foreach posts}}

    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
    {{> "post-card"}}

{{/foreach}}
</div>
