/*

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css using gulp dev

*/


/* Lib - Local component imports
/* ---------------------------------------------------------- */
@import "vars.css";
@import "components/global.css";
@import "components/ghost.css";
@import "components/lists.css";
@import "components/grid.css";
@import "components/tables.css";
@import "components/forms.css";
@import "components/buttons.css";
@import "components/actions.css";
@import "components/hamburger.css";
@import "components/animations.css";


/* Main - Theme styles
/* ---------------------------------------------------------- */

body {
    font-family     : 'Oswald', sans-serif;
    background      : var(--color-bg);
    transition      : background 0.3s ease-out;
    transition-delay: 0.25;
    /* min-width    : 800px; */
}

.img {
    display            : block;
    width              : 100%;
    height             : 100%;
    background-position: center center;
    background-size    : cover;
    border-radius      : 100%;
}

.hidden {
    visibility : hidden;
    position   : absolute;
    text-indent: -9999px;
}


/* Layout
/* ---------------------------------------------------------- */

.site-wrapper {
    padding   : 0vw;
    min-height: 100vh;
}

@media (max-width: 850px) {
    .site-wrapper {
        padding: 0vw;
    }
}

.page-head {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    padding        : 13vw 0;
    max-width      : 70%;
    margin         : auto;
    text-align     : center;
}

.error-head {
    height: 75vh;
}

.error-head h1 {
    margin        : 0;
    font-size     : 7rem;
    line-height   : 1.1em;
    font-weight   : var(--font-heavy);
    letter-spacing: 10px;
}

.error-head p {
    font-size     : 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color         : color(var(--color-base) l(+50%));
}

.error-link {
    margin-top     : 1rem;
    font-size      : 1.5rem;
    text-decoration: underline;
}

.page-head-title {
    margin   : 0;
    font-size: 4.2rem;
    color    : var(--color-base);
}

@media (max-width: 500px) {
    .page-head-title {
        font-size: 2rem;
    }
}

.page-head-description {
    margin     : 0 0 1.6vw;
    color      : color(var(--color-border) l(-20%));
    font-size  : 2.2rem;
    line-height: 1.35em;
}

@media (max-width: 500px) {
    .page-head-description {
        font-size: 1.6rem;
    }
}

.site-foot {
    margin    : 1.5vw;
    text-align: center;
    color     : color(var(--color-border) l(-20%));
    font-size : 5mm;
}

.site-foot a {
    color: var(--color-base);
}

@media (orientation: portrait) {
    .site-foot {
        font-size: 4mm;
    }
}


/* Mobile Nav Menu
/* ---------------------------------------------------------- */

.nav-burger {
    /* display : none; */
    position: absolute;
    left    : 0;
    z-index : 9999;
    padding : 12px 12px 12px 0;
    width   : 3cm;
    height  : 3cm;
}

/* @media (max-width: 850px) { */

.site-head {
    padding: 0;
    height : 3cm;
}

.nav-burger {
    display: block;
    height : 3cm;
}

.site-head-container {
    position       : fixed;
    top            : 1mm;
    left           : 1mm;
    display        : flex;
    flex-direction : column;
    justify-content: flex-start;
    background     : rgba(0, 0, 0, 30);
    height         : 3cm;
    z-index        : -1;
    transition     : all 0.4s ease-out;
    overflow       : hidden;
}

.site-head-leftsite-head-logo,
.site-head-right {
    justify-content : flex-start;
    position        : relative;
    z-index         : -1;
    height          : auto;
    transition      : all 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 1s;
}

.site-head-left a,
.site-head-right a {
    margin     : 8px 0;
    padding    : 1px 0;
    font-size  : 2.6rem;
    line-height: 1.15em;
    font-weight: 200;
    opacity    : 0;
    transition : transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99),
        opacity 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: scale(1.1) translateY(-25px);
}

.site-head-right a {
    padding  : 5px 0;
    margin   : 1px 0;
    font-size: 2rem;
}



.site-head-left {
    order : 2;
    margin: 0;
    width : 100%;
}

.site-head-center {
    order          : 1;
    position       : static;
    z-index        : auto;
    display        : flex;
    justify-content: center;
}

.site-head-right {
    order     : 3;
    width     : 100%;
    margin-top: 3vw;
}

.social-links {
    /* flex-direction: column;
    align-items   : flex-start; */
}

.site-head-open {
    background      : rgba(255, 255, 255, 1);
    transition      : background 0.5s ease-out;
    transition-delay: 0.25;
    overflow        : hidden;
    height          : 100vh;
}

.site-head-open .site-head-container {
    /* height    : calc(100vh - 14vw); */
    height    : 98vh;
    width     : 98vw;
    overflow-y: scroll;
    transition: all 0.2s ease-in;
}

.site-head-open .site-head-left,
.site-head-open .site-head-right {
    z-index   : 9999;
    height    : auto;
    transition: height 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.site-head-open .site-head-left a,
.site-head-open .site-head-right a {
    opacity: 1;
    transition: transform 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
        opacity 0.9s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: scale(1) translateY(0px);
}

.site-head-open .nav-current a {
    border-bottom: var(--color-base) 2px solid;
}

.site-head-open .site-head-right a {
    opacity: 0.5;
}

.site-head-open .site-foot {
    display   : block;
    position  : fixed;
    z-index   : 9999;
    bottom    : 0;
    transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform : translateY(-4vw);
}




/* Post Feed
/* ---------------------------------------------------------- */

.post-feed {
    display  : flex;
    flex-wrap: wrap;
}

.post-card2 {
    /* position         : relative;
    flex             : 1 1 50%;
    display          : flex;
    position         : relative;
    height           : 35vw;
    background       : linear-gradient(135deg, #1f1f1f 0%, #111 100%) center center;
    background-size  : cover;
    overflow         : hidden; */
    counter-increment: posts;
}

@media (max-width: 700px) {
    .post-card2 {
        flex  : 1 1 100%;
        height: 70vw;
    }
}

.post-card-large {
    flex: 1 1 100%;
}

.post-card-link {
    flex   : 1 1 auto;
    display: block;
}

.post-card-content {
    flex           : 1 1 auto;
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    top            : 0;
    right          : 0;
    bottom         : 0;
    left           : 0;
    color          : #fff;
    background     : rgba(0, 0, 0, 0.1);
    opacity        : 1;
    transition     : opacity 0.5s cubic-bezier(.33, 0, .2, 1);
}

.post-card2.with-image .post-card-content {
    opacity: 0;
}

@media (max-width: 700px) {
    .post-card2.with-image .post-card-content {
        opacity: 1;
    }
}

.post-card-link:hover .post-card-content {
    opacity   : 1;
    transition: opacity 0.3s cubic-bezier(.33, 0, .2, 1);
}

.post-card-title {
    margin    : 0;
    display   : inline-block;
    font-size : 3.4rem;
    max-width : 70%;
    text-align: center;
    transition: all 0.3s cubic-bezier(.33, 0, .2, 1);
}

/* Posts without images */
.post-card2.no-image:before {
    display       : block;
    content       : counter(posts);
    position      : absolute;
    bottom        : -0.15em;
    right         : 5vw;
    font-size     : 28vw;
    line-height   : 1em;
    font-weight   : var(--font-heavy);
    letter-spacing: -0.1em;
    color         : rgba(0, 0, 0, 0.2);
}

.post-card2.no-image .post-card-content {
    justify-content: flex-start;
    align-items    : flex-start;
    padding        : 4vw;
}

.post-card2.no-image .post-card-title {
    font-size  : 5rem;
    line-height: 1.15em;
    text-align : left;
}

.post-card2.no-image:hover .post-card-title {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .post-card2.no-image .post-card-title {
        font-size: 3.4rem;
    }
}

@media (max-width: 700px) {
    .post-card2.no-image:before {
        font-size: 50vw;
    }
}

/* Post Content
/* ---------------------------------------------------------- */

.post-content {
    max-width: 720px;
    margin   : 0 auto;
    padding  : 6vw 0;
}

.post-content-header {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

@media (orientation: portrait) {
    .post-content-header {
        padding-top: 10vh;
    }
}

.post-content-title {
    margin    : 0 0 3vw;
    color     : var(--color-base);
    text-align: center;
}

.post-content-excerpt {
    margin     : -2vw 0 3vw;
    font-size  : 2.2rem;
    line-height: 1.6em;
    color      : var(--color-base);
    text-align : center;
    opacity    : 0.5;
}

@media (max-width: 500px) {
    .post-content-excerpt {
        font-size: 1.8rem;
    }
}



.post-content-body {
    font-size  : 1.9rem;
    line-height: 1.65em;
    padding-top: inherit;
}

@media (max-width: 500px) {
    .post-content-body {
        font-size: 1.7rem;
    }
}

.post-content-body h1,
.post-content-body h2,
.post-content-body h3,
.post-content-body h4,
.post-content-body h5,
.post-content-body h6 {
    color: var(--color-base);
}

.post-content-body li {
    word-break: break-word;
}

.post-content-body li p {
    margin: 0;
}

.post-content-body iframe {
    margin: 0 auto !important;
}

.post-content-body blockquote {
    margin     : 0 0 1.5em;
    padding    : 0 1.5em;
    border-left: #3eb0ef 3px solid;
}

.post-content-body blockquote p {
    margin     : 0 0 1em 0;
    color      : inherit;
    font-size  : inherit;
    line-height: inherit;
    font-style : italic;
}

.post-content-body blockquote p:last-child {
    margin-bottom: 0;
}

.post-content-body code {
    padding      : 0 5px 2px;
    font-size    : 0.8em;
    line-height  : 1em;
    font-weight  : 400 !important;
    background   : var(--color-bg);
    border-radius: 3px;
}

.post-content-body p code {
    word-break: break-all;
}

.post-content-body pre {
    overflow-x   : auto;
    margin       : 1.5em 0 3em;
    padding      : 20px;
    max-width    : 100%;
    border       : color(var(--color-base) l(-10%)) 1px solid;
    color        : var(--color-bg);
    font-size    : 1.4rem;
    line-height  : 1.5em;
    background   : color(var(--color-base) l(-3%));
    border-radius: 5px;
}

.post-content-body pre code {
    padding    : 0;
    font-size  : inherit;
    line-height: inherit;
    background : transparent;
}

.post-content-body pre code :not(span) {
    color: inherit;
}

.post-content-body .fluid-width-video-wrapper {
    margin: 1.5em 0 3em;
}

.post-content-body hr {
    margin: 4vw 0;
}

.post-content-body hr:after {
    content    : "";
    position   : absolute;
    top        : -15px;
    left       : 50%;
    display    : block;
    margin-left: -10px;
    width      : 1px;
    height     : 30px;
    background : color(var(--color-border) l(+10%));
    box-shadow : #fff 0 0 0 5px;
    transform  : rotate(45deg);
}

.footnotes-sep {
    margin-bottom: 30px;
}

.footnotes {
    font-size: 1.5rem;
}

.footnotes p {
    margin: 0;
}

.footnote-backref {
    color          : var(--color-primary) !important;
    font-size      : 1.2rem;
    font-weight    : bold;
    text-decoration: none !important;
    box-shadow     : none !important;
}

/* Author Archive
/* ---------------------------------------------------------- */

.author-meta {
    display           : flex;
    justify-content   : center;
    align-items       : center;
    /* margin-bottom  : 10px; */
    color             : color(var(--color-border) l(-20%));
}

.author-links {
    display    : flex;
    align-items: center;
    margin-top : 3mm;
}

.author-links a {
    display: block;
    margin : 0;
    padding: 0 12px;
    color  : var(--color-base);
    opacity: 0.6;
}

.author-links a:hover {
    text-decoration: none;
    opacity        : 1;
}

.author-links .divider {
    display: inline-block;
    margin : 0 3px;
}

/* Page Template
/* ---------------------------------------------------------- */

.page-template .post-content-body h1,
.page-template .post-content-body h2,
.page-template .post-content-body h3 {
    text-align: center;
}

.split {
    width    : 50%;
    max-width: 50%;
    display  : inline-block;
    position : relative;
}

.split img {
    object-fit: cover;
}

.left {
    margin       : 0 0 0 0;
    overflow     : hidden;
    left         : 0vw;
    cursor       : pointer;
    /* max-height: 140vh; */
}

.left-a {
    color          : inherit;
    text-decoration: none;
    width          : 100%;
    height         : 100%;
    display        : block;
    position       : absolute;
    top            : 0;
    left           : 0;
}

.right {
    right     : 0vw;
    min-height: 5cm;
    text-align: right;
    display   : inline-block;
    overflow  : hidden;
}

.right a {
    color          : inherit;
    text-decoration: none;
    width          : 100%;
    height         : 100%;
    display        : block;
}

@media (orientation: portrait) {
    .split {
        all           : unset;
        display       : inline-block;
        flex-direction: column;
        width         : 100%;
        overflow      : hidden;
        position      : relative;
    }

    .left {
        width     : 100%;
        max-height: 100vh;
        left      : 0;
        min-height: 60vh;
    }

    .right {
        all             : unset;
        position        : relative;
        width           : 100%;
        left            : 0;
        /* margin-bottom: -2.5cm; */
        text-align      : right;
        display         : inline-block;
        background-size : cover;
    }

    .split img {
        object-fit: cover;
        max-width : 100%;
        width     : 100vh;
    }
}


.authoredate {
    display          : inline;
    background-color : rgba(0, 0, 0, 0.863);
    color            : #E8B5AE;
    writing-mode     : vertical-lr;
    transform        : rotate(180deg);
    position         : absolute;
    z-index          : 2001;
    /* overflow      :visible; */
    bottom           : 0mm;
    right            : 0mm;
    font-size        : 4.8mm;
    font-family      : Garamond;
    white-space      : nowrap;
    padding          : -0.5mm;
    line-height      : 70%;
    /* vertical-align: top; */
    margin           : 4mm;
    font-weight      : bold;
}

.authoredate a {
    display    : inline;
    font-family: 'Yanone Kaffeesatz';
    color      : #fff;
    position   : relative;
    right      : 1.5mm;
    font-size  : 6mm;
    margin-top : 6mm;
}

@media (orientation: portrait) {
    .authoredate {
        margin   : 2mm;
        font-size: 2.8mm;
    }

    .authoredate a {
        position : relative;
        right    : 0.5mm;
        font-size: 3.2mm;
    }
}

@media (orientation: portrait) {
    div.postcc>figure>img {
        width: 40vw;
    }

    div.postcc>figure>div>div>div>img {
        width: 20vw;
    }
}

@media (orientation: landscape) {
    div.postcc>figure>img {
        /* width: 15vw; */
        width: 70%;
    }

    div.postcc>figure>div>div>div>img {
        width: 14vw;
    }
}

div.postcc>figure>div>div>div>img {
    width: 28vw;
}
.kg-card {
    text-align: center;
}

.left>a>div.postcc>h1 {
    text-align: center;


    /* do zmiany */


    font-size: 40pt;
}

.post-content-image {
    margin      : 0vw 0;
    position    : relative;
    width       : 96vw;
    min-width   : 100%;
    margin-left : calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    transform   : translateX(calc(50vw - 50%));
}

/* 1 */

.bluish {

    background-color      : #252D40;
    /* color              : rgb(39, 50, 77); */
    color                 : #fdfa30d2;
    font-family           : 'Oswald';
    padding               : 4mm;
}


.left:nth-of-type(14n+2) {
    background-color: #252D40;
    color           : rgb(39, 50, 77);
    font-family     : 'Oswald';
    font-weight     : 900;
    font-size       : 18vw;
    line-height     : 72%;
    text-transform  : uppercase;
}


#swup>div>div:nth-child(14n+2)>div.left-a>div.title {
    color         : #fdfa30d2;
    /* color      : #ffb8de; */
    text-align    : left;
    font-size     : 20%;
    font-size     : 8vw;
    position      : absolute;
    top           : 20%;
    left          : 12%;
    width         : 38%;
    line-height   : 110%;
}

@media (orientation: portrait) {
    #swup>div>div:nth-child(14n+2)>div.left-a>div.title {
        color     : #fdfa30d2;
        text-align: left;
        font-size : 8vh;
        position  : absolute;
        top       : 40%;
        right     : 32%;
        width     : 30%;
    }

}

.right:nth-of-type(14n+1)>div.authoredate {
    color: #fdfa30d2;
}


/* 2 */

.greenish {
    background-color: #2b2b2b;
    color           : #cbe354;
    font-family     : 'Yanone Kaffeesatz';
    padding         : 5mm;
    font-size       : 7mm;
}

@media (orientation: landscape) {
    .greenish>div.post-content-body>p {
        font-size: 7.5mm;
    }
}

.left:nth-of-type(14n+4) {
    background-color: #2b2b2b;
    color           : #cbe354;
    font-family     : 'Yanone Kaffeesatz';
    padding         : 5mm;
    font-size       : 7mm;
}

.left:nth-of-type(14n+4)>div.left-a {
    left : 4%;
    width: 90%;
}

#swup>div>div:nth-child(14n+4)>div.left-a>div.title {
    margin         : 10%;
    margin-left    : 10%;
    padding        : 1mm;
    /* font-size   : 10%; */
    border-style   : solid;
    border-color   : #cbe354;
    border-width   : 0.8mm;
    display        : inline-block;
}

.right:nth-of-type(14n+3)>div.authoredate {
    color: #cbe354;
}


/* 3 */

.darkish {
    background-color: #233021;
    color           : #DBC895dd;
    font-family     : Garamond;
    font-weight     : 900;
    line-height     : 50%;
    padding         : 5mm;
}

.darkish h1 {
    text-shadow   : 1vh 1vw rgba(139, 110, 110, 0.815);
    text-transform: uppercase;
    text-align    : center;
}

.left:nth-of-type(14n+6) {
    background-color: #233021;
    color           : rgba(67, 70, 60, 0.897);
    font-family     : Garamond;
    font-weight     : 900;
    font-size       : 7.5em;
    line-height     : 50%;
    text-transform  : uppercase;
    text-shadow     : 2vh 2vw rgba(139, 110, 110, 0.415);
    text-align      : center;
}


#swup>div>div:nth-child(14n+6)>div.left-a>div.title {
    color      : #DBC895dd;
    text-shadow: 2vh 2vw rgba(139, 110, 110, 0.815);
    text-align : center;
}

.right:nth-of-type(14n+5)>div.authoredate {
    color: #DBC895dd;
}

/* 4 */
.blackish {
    background-color: black;
    color           : #FF2400;
    font-family     : Oswald;
    font-weight     : 600;
    font-size       : 16vh;
    line-height     : 76%;
    text-align      : left;
    padding         : 3%
}

.blackish h1 {
    color      : #fff;
    font-size  : 30vh;
    font-family: Oswald;
    line-height: 89%;
}

@media (orientation: portrait) {
    .blackish h1 {
        font-size: 10mm;
    }
}

.left:nth-of-type(14n+8) {
    background-color: black;
    color           : #FF2400;
    font-family     : Oswald;
    font-weight     : 600;
    font-size       : 16vh;
    line-height     : 76%;
    text-align      : left;
    text-decoration : none;
    word-wrap       : break-word;
    text-transform  : uppercase;
}

#swup>div>div:nth-child(14n+8)>div.left-a>div.title {
    color       : #fff;
    font-size   : 30vh;
    writing-mode: vertical-lr;
    float       : left;
    font-family : Oswald;
    white-space : nowrap;
    text-align  : left;
    line-height : 89%;
}

.left:nth-of-type(14n+8)>div.left-a>div.postcc>p {
    margin: 0;
}

@media (orientation: portrait) {
    .left:nth-of-type(14n+8) {
        font-size: 16vw;
    }

    #swup>div>div:nth-child(14n+8)>div.left-a>div.title {
        font-size: 32vw;
    }
}

.right:nth-of-type(14n+7)>div.authoredate {
    color: #ff2400;
}


/* 5 */
.pinkish {
    background-color: #BE0000;
    color           : #fff;
    font-family     : 'Yanone Kaffeesatz';
    font-size       : 30pt;
    padding         : 5%;
    line-height     : 120%;
    word-spacing    : 10pt;
}

.pinkish h1 {
    padding    : 10%;
    color      : #e793d9;
    font-size  : 10vw;
    float      : none;
    white-space: nowrap;
}

.left:nth-of-type(14n+10) {
    background-color: #BE0000;
    color           : #fff;
    font-family     : 'Yanone Kaffeesatz';
    font-size       : 30pt;
    padding         : 5%;
    line-height     : 120%;
    word-spacing    : 10pt;
}

#swup>div>div:nth-child(14n+10)>div.left-a>div.title {
    padding    : 10%;
    color      : #e793d9;
    font-size  : 40vw;
    float      : none;
    white-space: nowrap;
}

.left:nth-of-type(14n+10)>div.left-a {
    left : 4%;
    width: 90%;
}

.right:nth-of-type(14n+9)>div.authoredate {
    color: #e793d9;
}

@media (orientation: landscape) {
    #swup>article.pinkish>div.post-content-body>p {
        font-size: 7.5mm;
    }
}

/* 6 */
.grasish {
    background-color: #244440;
    color           : #9A562E;
    font-size       : 30pt;
    font-family     : 'Garamond';
    line-height     : 120%;
    word-spacing    : 10pt;
    padding         : 5vw;
}

.grasish div.post-content-body>p {
    font-size  : 130%;
    font-weight: bold;
}

.grasish h1 {
    padding    : 10%;
    text-align : center;
    font-size  : 16pt;
    float      : none;
    white-space: nowrap;
}

.left:nth-of-type(14n+12) {
    background-color: #244440;
    color           : #9A562E;
    font-size       : 30pt;
    font-family     : 'Garamond';
    line-height     : 120%;
    word-spacing    : 10pt;
}

#swup>div>div:nth-child(14n+12)>div.left-a>div.postcc>p {

    margin-left      : 5%;
    padding-left     : 2%;
    border-style     : solid;
    border-left-width: 0.6mm;
}

#swup>div>div:nth-child(14n+12)>div.left-a>div.title,
#swup>div.post-feed>div:nth-child(14n+12)>div>div.postcc>h2 {
    padding    : 10%;
    text-align : center;
    font-size  : 16pt;
    float      : none;
    white-space: nowrap;
}

.right:nth-of-type(14n+11)>div.authoredate {
    color: #9A562E;
}

/* 7 */

.grayish {
    background-color: #908f84;
    color           : rgb(14, 6, 1);
    font-size       : 30pt;
    font-family     : 'Oswald';
    line-height     : 120%;
    word-spacing    : 10pt;
    padding         : 5vw;
}

.grayish div.post-content-body>p {
    font-size  : 130%;
    font-weight: bold;
}

.grayish h1,
.grayish h2 {
    color         : white;
    padding       : 10%;
    text-align    : center;
    /* font-size  : 16pt;
    float         : none;
    white-space   : nowrap; */
}

.left:nth-of-type(14n+14) {
    background-color: #908f84;
    color           : rgb(14, 6, 1);
    font-size       : 30pt;
    font-family     : 'Oswald';
    line-height     : 120%;
    word-spacing    : 10pt;
}

#swup>div>div:nth-child(14n+14)>div.left-a>div.postcc>p {
    margin-left      : 5%;
    padding-left     : 2%;
    border-style     : solid;
    border-left-width: 0.6mm;
}

#swup>div>div:nth-child(14n+14)>div.left-a>div.postcc>h1,
#swup>div>div:nth-child(14n+14)>div.left-a>div.postcc>h2,
#swup>div>div:nth-child(14n+14)>div.left-a>div.title {
    color      : white;
    padding    : 3%;
    text-align : center;
    font-size  : 20;
    float      : none;
    white-space: nowrap;
}

.right:nth-of-type(14n+13)>div.authoredate {
    color: rgb(14, 6, 1);
}

/*******/
@media (orientation: landscape) {
    .right:nth-of-type(4n+1) {
        left: 50%;
    }

    .left:nth-of-type(4n+2) {
        left : unset;
        right: 50%;
    }

}

.featured {
    border      : 1.2mm;
    border-style: dotted;
}

@media (orientation: portrait) {
    .page-head {
        padding  : 3% 0;
        max-width: 90%;
    }
}

/* titelleiste        */
@media (orientation: landscape) {
    .header-leiste {
        z-index         : 4001;
        background-color: #00000000;
        font-size       : 5vh;
        opacity         : 1;
        text-align      : left;
        font-family     : 'Yanone Kaffeesatz';
        min-height      : 0%;
    }

    .descdesc {
        padding       : 5vh;
        text-align    : left;
        width         : 60vw;
        /* font-family: 'Yanone Kaffeesatz'; */
        line-height   : 120%;
    }

    .titeltitel {
        height    : 0vh;
        display   : inline-block;
        visibility: hidden;
    }
}

@media (orientation: portrait) {
    .header-leiste {
        text-align : center;
        font-family: 'Yanone Kaffeesatz';
        min-height : 15vh;
    }

    .descdesc {
        text-align    : center;
        padding-top   : 15vh;
        padding-bottom: 4vh;
        font-size     : x-large;
    }

    .titeltitel {
        height    : 12vh;
        display   : block;
        visibility: hidden;
    }


}
.split.left.post.no-image
 {
    width    : 100%;
    max-width: 100%;
    height   : 60vh;
    right: 0%; 
}
.split.left.post.featured.no-image 
{
    height   : 150vh;
}
/* Site Navigation
/* ---------------------------------------------------------- */

.nav {
    display       : flex;
    flex-wrap     : wrap;
    list-style    : none;
    flex-direction: column;
    max-height    : 80%;
}

@media (orientation: portrait) {
    .nav {
        margin-top: 7%
    }
}

.nav li {
    all        : unset;
    padding-top: 7%;
}

.site-head li {
    display: block;
    margin : 0;
    padding: 0;
}


.nav-current a,
.site-head a:hover {
    text-decoration: none;
    opacity        : 1;
}

.site-head-center {
    display        : flex;
    justify-content: center;
    width          : 100%;
}

.site-head-logo {
    flex-shrink   : 0;
    display       : block;
    padding       : 10px;
    color         : var(--color-base);
    font-size     : 2.1rem;
    line-height   : 1em;
    font-weight   : 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.site-head-logo:hover {
    text-decoration: none;
}

.site-head-logo img {
    display   : block;
    margin-top: 2px;
    width     : auto;
    height    : 28px;
}

.site-head-right {
    position       : relative;
    z-index        : 100;
    flex-shrink    : 0;
    display        : flex;
    align-items    : center;
    justify-content: flex-end;
}



.subscribe-button {
    display      : block;
    padding      : 4px 10px;
    border       : var(--color-base) 1px solid;
    color        : var(--color-base);
    font-size    : 1.2rem;
    line-height  : 1em;
    border-radius: 10px;
    opacity      : 0.8;
}

.subscribe-button:hover {
    text-decoration: none;
    opacity        : 1;
}

.rss-button {
    opacity: 0.4;
}

.rss-button:hover {
    opacity: 1;
}

.rss-button svg {
    margin-bottom: 1px;
    height       : 2.1rem;
    fill         : var(--color-base);
}

/* ################################################ */

.overlay {
    height          : 96%;
    width           : 0%;
    position        : fixed;
    top             : 2%;
    right           : -20%;
    z-index         : 5001;
    background-color: black;
    background-color: rgba(22, 0, 17, 0.89);
    overflow        : hidden;
    transition      : 0.5s;
    text-align      : center;line-height: 1.6em;
}

.overlay a {
    font-family       : 'Oswald';
    font-size         : 4vh;
    text-align        : center;
    /* padding        : 3%; */
    text-decoration   : none;
    color             : #e7f84dde;
    display           : block;
    transition        : 0.3s;
    text-transform    : uppercase;
    line-height: 150%;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.menuButton {
    position        : fixed;
    z-index         : 5000;
    top             : 4%;
    right           : 6%;
    cursor          : pointer;
    background-color: rgba(211, 111, 111, 0.3);
    display         : inline-block;
    white-space     : nowrap;
    max-width       : 36%;
    line-height     : 100%;
    direction       : rtl;
    /* font-size    : 1.5cm; */
}


@media (orientation: portrait) {
    .menuButton {
        top      : 4%;
        max-width: 88%;
    }
}

.social-links {
    /* position  : relative;
    bottom    : 10%; */
    text-align: center;
}

.social-links a {
    display: inline-block;
    padding: 3%;
}

.author-bg {
    padding         : 3mm;
    background-color: rgba(211, 111, 111, 0.7);
}

.author-bg h1,
.author-bg p {
    margin     : unset;
    margin     : 3mm;
    line-height: 1;
}

@media (orientation: landscape) {
    .profile-image {
        margin: 8vh;
        height: 40vh;
    }
}

@media (orientation: portrait) {
    .profile-image {
        /* margin: 2vh 8vh 2vh 8vh;
        height: 30vh; */
        padding: 25% 3% 3% 3%;
    }
}

.foot {
    position: fixed;
    bottom  : 2%;
    width   : 100%;
}